/* Main menu */

.main-nav {
    font-family: var(--font-monospace);
    display: flex;
}

.main-nav .page__logo-inner {
    font-family: "Geostar";
    font-size: 2.5em;
    margin: auto 0 auto 0;
    text-decoration: none;
    color: var(--fg);
}

.main-nav ul {
    margin: auto 0 auto 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0 0 0 1em;
    gap: 0.5rem 2rem;
}

.main-nav li {
    text-transform: lowercase;
}

.main-nav li a {
    text-transform: lowercase;
    text-decoration: none;
    color: var(--base0E);
}

.main-nav li::marker {
    content: "./";
}

.main-nav .header-icon {
	max-width: 5em;
	max-height: 5em;
	display: flex;
}
