{{ define "main" }}
    <header class="content__header">
        <h1>{{ .Title | markdownify }}</h1>
        {{ .Content }}
    </header>

    {{ range .Pages }}
    <article class="post">
		<h1><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
		<p class="post__meta">
			<span class="date">{{ .Date.Format "2 January 2006" }}</span>
		</p>

        <a href="{{ .Permalink }}">
            {{ with .Resources }}
                {{ with .GetMatch "{cover.*,*.jpg,*.png,*.jpeg}" }}
                    {{ $cover := .Resize "600x" }}
                    {{ with $cover }}
                        <img src="{{ .Permalink }}"/>
                    {{ end }}
                {{ end }}
            {{ end }}
        </a>
		<br />
		{{ .Summary }}
    </article>
    {{ end }}
{{ end }}
