/* tender by Jacobo Tabernero (https://github.com/jacoborus/tender.vim) */

:root {
  --base00: #050505;
  --base01: #1a1a1a;
  --base02: #282828;
  --base03: #484848;
  --base04: #4c4c4c;
  --base05: #b8b8b8;
  --base06: #eeeeee;
  --base07: #e8e8e8;
  --base08: #f43753;
  --base09: #dc9656;
  --base0A: #ffc24b;
  --base0B: #c9d05c;
  --base0C: #73cef4;
  --base0D: #b3deef;
  --base0E: #d3b987;
  --base0F: #a16946;
}
